 html {
     height: 100%;
     overflow-x:hidden;
 }




 body {
     margin: 0;
     padding: 0;
     font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
     display:grid;
     grid-template-areas:
     "header" 
     "nav " 
     "main "  ;


 }
 


 .navbar-nav > li > a {
    color: black;
    background-color: white;
}

.navbar-nav > li > a:hover {
    color: orchid;
    background-color: white;
}



ul {
     display: flex;
     background-color: white;
     align-items: center;
     justify-content: center;
     width: 100%;

 }

 ul li {
     text-transform: uppercase;

     margin: 0 20px 0 20px;
 }

 span {
     display:inline-block;
       
    
     
 }



 

#hun{
    display: none;
}


 header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height:10vh;
     grid-area:header;
  
   
 }


 h1 {



     text-transform: uppercase;
     letter-spacing: 10px;
     font-size: 42px;
     line-height: 1.1em;
     padding: 0.8em;
     word-spacing: 0.6em;
     


 }


.container-fluid {
         
     
     height:5vh;
     width:100vw;
     display:flex;
     justify-content:center;
     align-items:center;
}

  nav {
     
     
     grid-area:nav;
     height:5vh;
     width:100vw;
     display:flex;
     justify-content:center;
     align-items:center;

 }

 main {
    grid-area:main;
     background-image:url("back.jpg");
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;
     height:79vh;
     width:100vw;
     
     
 }

#back {
    
     background-color:blue;
}


p{
    font-size:2em;
    margin:2em;
    text-align:center;
}

#change_lng {
     position:absolute;
     margin-left:15%;
     border:none !important;
     background-color:white !important;
    
}


#change_lng:hover {
     color: orchid;
     cursor: pointer;
 }


 #more {
     display: none;


 }

 #myBtn {
     text-align: center;
 }


.navbar-nav {
    padding-right:1.5em;
}

article {
  display:flex;
  justify-content:center;
}

.fa {
  padding: 18px;
  font-size: 30px;
  width: 2em;
  height:2em;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
}


.fa:hover {
  opacity: 0.3;
}



/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Insta */
.fa-instagram {
  background-image:url('insta.png');
  background-size:cover;
  color: white;
}