 html {
     height: 100vh;
     width:100vw;
 }




 body {
     margin: 0;
     padding: 0;
     font-family: 'Muli', sans-serif;
     display:grid;
     grid-template-areas:
     "header header header"
     "nav  nav nav" 
     "main figure main"
     "main figcaption main";
     max-width:95vw;
 
 }

 


ul {
     display: flex;
     background-color: white;
     align-items: center;
     justify-content: center;
     width: 100%;

 }

 ul li {
     text-transform: uppercase;

     margin: 0 20px 0 20px;
 }

 span {
     display:inline-block;
       
    
     
 }



 

#eng {
    display: none;
}


 header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height:10vh;
     grid-area:header;
  
   
 }


 h1 {



     text-transform: uppercase;
     letter-spacing: 10px;
     font-size: 42px;
     line-height: 1.1em;
     padding: 0.8em;
     word-spacing: 0.6em;
     


 }

h2 {
     text-align:center;
     margin:0 3em;
}

.container-fluid {
         
     
     height:5vh;
     width:100vw;
     display:flex;
     justify-content:center;
     align-items:center;
}

  nav {
     
     
     grid-area:nav;
     height:5vh;
     width:100vw;
     display:flex;
     justify-content:center;
     align-items:center;

 }

 main {
    grid-area:main;
     width:100vw;
   
     
     
 }

 section {
      grid-area:section;
      width:50vw;
      
 }

#back {
    
    
}


p{
    font-size:1em;
    max-width: 700px;
     margin: 0 auto 30px;
    text-align:center;
}

#change_lng {
     position:absolute;
     margin-left:15%;
}


#change_lng:hover {
     color: red;
     cursor: pointer;
 }


 #more {
     display: none;


 }

 #myBtn {
     text-align: center;
     margin:0 45%;
     
 }


article {
     grid-area:article;
     
}


figure {
     display:flex;
     justify-content:center;
     align-items:center;
     grid-area:figure;
    
     width:100vw;
     
     
}

figcaption {
     grid-area:figcaption;
     height:auto;
      width:100vw;
      text-align:center;
      
}




img {
     
   
     object-fit:contain;
     margin:1em;
     padding:0;
     width:683px;
     height:511.5px;
     
     
}

/* Read more */
.container {
    padding-left:230px;
}

/***read more button style***/

