html {

    height: 100vh;

}

body {
    margin: 0;
    padding: 0;
}

.my-container {
    background-color: cyan;
    height: 100vh;



}



.pseudoparent {
    position: relative;
}



.my-row {
    background-color: green;

}

.my-row2 {

    height: 15vh;


}




.my-col {
    background-color: white;
    height: 85vh;

}

.my-col1 {
    background-color: white;
    height: 85vh;

}

.my-col2 {
    background-color: white;
    height: 15vh;

    overflow: hidden;



}




/*Carousel design*/

.left-carousel-control


.carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin-top: 10px;
}

.carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel-inner {
    position: relative;
    width: 85vw;
    height: 85vh;
    display: flex;


}


#carousel-example-generic {
    height: 85vh;
    width: 85vw;

}

.item {
    height: 85vh;
    width: 85vw;
    justify-content: center;
}

#image {
    object-fit: contain;

    height: 100%;
    width: 100%;
    margin: auto;

}

#image2 {
    object-fit: contain;

    height: 100%;
    width: 100%;
    margin: auto;

}







#image3 {
    object-fit: contain;

    height: 100%;
    width: 100%;
    margin: auto;

}


/*apad fasza*/


#i2 {
    object-fit: contain;

    max-height: 985px;
    max-width: 657px;

}


#i2zoom {
    object-fit: contain;

    height: 85vh;
    width: 85vw;




}