
body {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    overflow-y: hidden;
    overflow-x: hidden;
}



.navbar-nav > li > a {
    color: black;
    background-color: white;
}

.navbar-nav > li > a:hover {
    color: rgba(40, 115, 255, 0.883);
    background-color: white;
}





.pseudoparent {
    position: relative;
}



.my-row {
    background-color: green;

}

.my-row2 {

    height: 15vh;


}




.my-col {
    background-color: white;
    height: 85vh;
    width: 100vw;

}

.my-col1 {
    background-color: white;
    height: 85vh;

}

.my-col2 {
    background-color: white;
    height: 15vh;

    overflow: hidden;



}




/*Carousel design*/
.left carousel-control {
    background-color: white !important;
}

.right carousel-control {
    background-color: white !important;
}

.carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin-top: 10px;
}

.carousel-indicators img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.carousel-inner {
    position: relative;
    width: 100vw;
    height: 85vh;
    



}


#carousel-example-generic {
    height: 85vh;
    width: 100vw;

}
.carousel-inner .item { transition: all 1s ease !important; }

.item {
    height: 85vh;
    width: 85vw;
    justify-content: center;
    padding: 0.5em;
}

#dh1 {
    object-fit: contain;

    height: 100%;
    width: 100%;


}

#dh2 {
    object-fit: contain;
    height: 100%;
    width: 100%;


}







#dh3 {
    object-fit: contain;

    height: 100%;
    width: 100%;


}



a:hover {
    cursor: zoom-in;
}


.carousel-caption {
    position: absolute;
    top: 0;
    left:50%;
    bottom:60%;
    color:#000;
    width: 100%;
   
   display: flex;
   flex-direction: column;
   border: none;
   justify-content: center;
    


}

.carousel-caption p {
    line-height: 2em;
    overflow-wrap:break-word;
    text-align: right;
    text-shadow: none;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

#egyikcaption {
    margin-top: 2em;
    position: absolute;
    top:0;
     left:45%;
    bottom:40%;
    color:#000;
   
   
   
}

#masikcaption {
   position: absolute;
    top: 0;
     left:50%;
    bottom:40%;
    color:#000;
    margin-top: 2em;
}
.carousel-inner {
    width:100vw;
    padding: 0;


}







.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    margin: auto;
}


#left:hover {
    cursor: pointer;
}

#right:hover {
    cursor: pointer;
}

.gomb {
    border: none;
    color: white;
    background-color: white;
    background-image: url('arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
    width: 20px;
    height: 20px;
    position:absolute;
    margin:2 auto;
    left: 0;
    right: 1 auto;
   

}

.gombok {
    margin:1em;
}



p {
    text-align: center;
    margin:0 auto 30px;

}